<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec=https://www.thymeleaf.org/thymeleaf-extras-springsecurity5 xmlns="http://www.w3.org/1999/html"
      layout:decorator="template">

<head>
    <meta charset="utf-8">
    <title th:text="#{label.pageConstruct}"></title>
</head>
<body>
<div layout:fragment="contenu">
    <div class="container-lg">
        <div class="d-flex justify-content-center m-3" th:object="${documentation}">
                <h1 class="my-3">
                    <span th:utext="|<b><u>#{label.pageConstruct}</u></b>|"></span>
                </h1>
        </div>
        <div class="d-flex justify-content-center m-3">
            <p><img class="img-fluid" th:src="@{/images/construct.png}" alt="page under construction"/></p>
        </div>
    </div>
</div>
</body>
</html>