<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec=https://www.thymeleaf.org/thymeleaf-extras-springsecurity5
      layout:decorator="template">

<head>
    <meta charset="utf-8">
    <title th:text="#{usermanager.title}"></title>
</head>
<body>
<div layout:fragment="contenu">
    <div class="container-lg">
        <div class="row d-flex flex-wrap-reverse justify-content-end">
            <div class="col-lg-2 my-1">
                <button class="btn btn-dark btn-lg btn-block openForNewUser"
                onclick="openForNewUser()" th:text="#{label.new}"></button>
            </div>
            <div class="col-lg-3">
                <form action="" method="GET" id="searchUtilisateurForm" class="form-inline justify-content-end">
                    <span class="input-group rounded my-1 mx-4">
                        <input name="searchValue" type="search" class="form-control rounded" th:placeholder="#{label.search}"/>
                        <button type="submit" value="send" class="input-group-text border-0">
                            <i class="fas fa-search"></i>
                        </button>
                    </span>
                </form>
            </div>
        </div>
        <div class=" my-2">
            <!-- tableau -->
            <!-- sizing du tableau -->
            <div class="row d-flex justify-content-end">
                <div class="col-2 my-1 wiki-hidden">
                    <select th:onchange="| window.location.href = '/admin/usermanage?page=${currentPage}&size=' + this.value |"
                    class="form-select form-select-sm" id="size_tbodyUserManager" aria-label="form-select-sm">
                        <option th:selected="${size}==10" value="10">10</option>
                        <option th:selected="${size}==25" value="25">25</option>
                        <option th:selected="${size}==50" value="50">50</option>
                    </select>
                </div>
            </div>
            
            <div  id="tbodyUserManager" th:fragment="tbodyUserManager">
                <table class="table table-hover table-striped table-bordered rounded wiki-hidden" >
                    <thead>
                    <tr>
                        <!-- titre colonne-->
                        <th scope="col"><b th:text="#{user.matricule}"></b><i class="fa fa-fw fa-sort"></i></th>
                        <th scope="col"><b th:text="|#{user.nom} #{user.prenom}|"></b><i class="fa fa-fw fa-sort"></i></th>
                        <th scope="col"><b th:text="#{user.grade}"></b><i class="fa fa-fw fa-sort"></i></th>
                        <th scope="col"><b th:text="#{user.degrehabilitation}"></b><i class="fa fa-fw fa-sort"></i></th>
                        <th scope="col"><b th:text="#{user.mail}"></b><i class="fa fa-fw fa-sort"></i></th>
                        <th scope="col"><b th:text="#{user.fonction}"></b><i class="fa fa-fw fa-sort"></i></th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody >
                        <tr th:each="user:${users.content}" th:id="${user.id}">
                            <th th:text="${user.matricule}" scope=row></th>
                            <td th:text="|${user.nom} ${user.prenom}|"></td>
                            <td th:text="${user.grade}"></td>
                            <td th:text="${user.degreSecurite}"></td>
                            <td th:text="${user.mail}"></td>
                            <td th:text="${user.fonction}"></td>
                            <td class="d-flex justify-content-around">
                                <a type="button" class="openUpdateModal"
                                    th:id="${user.matricule}" onclick="openForUpdateUser(this.id)">
                                    <span aria-hidden="true">
                                        <i class="far fa-edit"></i>
                                    </span> 
                                </a>
                                <form class="supprimerUtilisateur">
                                    <button type="submit" class="text-danger bg-transparent border-0" 
                                        th:name="id" th:value="${user.id}"
                                        onclick="supprimerUtilisateur()">
                                        <span aria-hidden="true">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul class="pagination justify-content-end" id="paginationUser">
                    <li class="page-item">
                        <a class="page-link" th:href="@{ usermanage( page=${previous} , size=${size}) }" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <th:block th:each="page,status:${pages}">
                        <li th:if="${ ( status.index<=currentPage+2 )  && ( status.index>=currentPage-2 )}"
                        th:class="${ status.index==currentPage? 'page-item active':'page-item' }">
                            <a class="page-link" th:href="@{usermanage(page=${status.index}, size=${size} ) }"
                            th:text="${status.index }"></a>
                        </li>
                    </th:block >
                    <li class="page-item">
                        <a class="page-link" th:href="@{ usermanage( page=${next} , size=${size}) }" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a> 
                      </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="updateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="updateModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="modal-body" th:fragment="updateModal" id="saveUtilisateurForm" th:object="${user}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div class="form-group" th:if="${mode=='edit'}" hidden>
                        <input type="text" name="id" class="form-control" id="user_id"
                                th:value="(${user} == null) ? '' : ${user.id}" />
                    </div>
                    <div class="form-group">
                        <label for="matricule" class="col-form-label" th:text="|#{user.matricule} : |"></label>
                        <input th:if="(${user} != null AND ${user.id} != null)" type="text" name="matricule" class="form-control" id="matricule" required="required"
                                th:value="${user.matricule}" disabled/>
                        <input th:if="(${user} != null AND ${user.id} == null)" type="text" name="matricule" class="form-control" id="matricule" required="required"
                                value=""/>
                        <span th:if="${error_matricule}" class="text-danger" th:text="${error_matricule}"></span>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-form-label" th:text="|#{user.nom} : |"></label>
                        <input th:if="(${user} != null AND ${user.id} != null)" type="text" name="nom" class="form-control" id="name" required="required"
                                th:value="${user.nom}" disabled>
                        <input th:if="(${user} != null AND ${user.id} == null)" type="text" name="nom" class="form-control" id="name" required="required"
                                value="">
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-form-label" th:text="|#{user.prenom} : |"></label>
                        <input th:if="(${user} != null AND ${user.id} != null)" type="text" name="prenom" class="form-control" id="firstname" required="required"
                                th:value="${user.prenom}" disabled>
                        <input th:if="(${user} != null AND ${user.id} == null)" type="text" name="prenom" class="form-control" id="firstname" required="required"
                                value="">
                    </div>
                    <div class="form-group">
                        <label for="mail" class="col-form-label" th:text="|#{user.mail} : |"></label>
                        <input th:if="(${user} != null AND ${user.id} != null)"  type="email" name="mail" class="form-control" id="mail" required="required"
                                th:value="${user.mail}" disabled>
                        <input th:if="(${user} != null AND ${user.id} == null)"  type="email" name="mail" class="form-control" id="mail" required="required"
                                value="">
                    </div>
                    <div class="form-group">
                        <label for="FonctionModal" class="col-form-label" th:text="|#{user.fonction} : |"></label>
                        <select id="FonctionModal" name="fonction_id" class="form-control">
                            <option th:each="fct:${fonctions}" th:value="${fct.id}"
                                    th:text="${fct.libelle}"
                                    th:selected="(${user} == null) ? ${fct.id} : (${fct} == ${user.fonction})"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="GradeModal" class="col-form-label" th:text="|#{user.grade} : |"></label>
                        <select id="GradeModal" name="grade_id" class="form-control">
                            <option th:each="gd:${grades}" th:value="${gd.id}"
                                    th:text="|${gd.min} (${gd.administratif})|"
                                    th:selected="(${user} == null) ? ${gd.id} : (${gd} == ${user.grade})"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="DegreSecuriteModal" class="col-form-label" th:text="|#{user.degrehabilitation} : |"></label>
                        <select id="DegreSecuriteModal" name="degre_securite_id" class="form-control">
                            <option th:each="ds:${degreSecurites}" th:value="${ds.id}"
                                    th:text="${ds.libelle}"
                                    th:selected="(${user} == null) ? ${ds.id} : (${ds} == ${user.degreSecurite})"></option>
                        </select>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="resetPassInput">
                        <label class="form-check-label" for="resetPassInput" th:text="#{user.restPass}"></label>
                      </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary resetButton" data-dismiss="modal" th:text="#{button.cancel}"></button>
                        <button type="button" class="btn btn-primary resetButton" onclick="saveUtilisateur()" th:text="#{button.confirm}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>       
   
    
    
</div>
</body>
</html>